/*

        WEB-APP

*/

/* GENERAL CONTAINER */
.web-app{
        margin: 0 auto;
}

.my-container {
        max-width: 90%;
        display: flex;
        height: 100vh;
        padding: 20px;
        margin: 0 auto;
}
/* IMAGES */
.rounded-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid white;
        
}


/* WHATSAPP R/L CONTENT */
.left-side {
        flex: 0 0 30%; /* Occupa il 30% dello spazio disponibile */
        border:1px solid grey;
        overflow-y: auto;
}

.right-side {
        flex: 1; /* Occupa il restante spazio disponibile */
        border-top: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        border-left: 1px solid grey;
        background-image: url(../img/mine.jpg);

}



/* NAVBAR */
.navbar{
        background-color: rgb(234, 234, 234)
}




/* ICON */
.header-account i {
        margin: 5px;
        color: rgb(177, 177, 177)
}
.incoming-chat i {
        text-align: center;
        line-height: 50px;
        color: rgb(142, 218, 252);
        background-color: rgb(255, 255, 255);
}

/* CARD INCOMING USERS CHATS */

.incoming-chat {
        display: flex;
        align-items: center;
        background-color: rgb(142, 218, 252);
        padding: 10px;
        
        margin-bottom: 10px;
}

.rounded-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        
}

.incoming-chat-content {
        flex: 1;
}

.incoming-chat-title {
        margin: 0;
        font-size: 16px;
}

.incoming-chat-description {
        margin: 0;
        font-size: 14px;
}

/* CHAT */
.chat {
        display: flex;
        align-items: center;
}



.chat-content {
        flex: 1;
}

.chat-title {
        margin: 0;
        font-size: 16px;
}

.chat-description {
        margin: 0;
        font-size: 14px;
}







/* CHAT ZONE */
.chat-input {
        display: flex;
        align-items: center;
        background-color: rgb(242, 242, 242);
        padding: 7px;
        border-top: 1px solid rgb(204, 204, 204);
        position: absolute; 
        bottom: 0;
        right: 0;
        left: 0;
}

.chat-input textarea {
        flex: 1;
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        resize: none;
        overflow-y: hidden; 
}


.chat-container {
        max-height: 88vh;
        display: flex;
        flex-direction: column;
}

.messages {
        flex: 1;
        overflow-y: scroll;
        padding: 20px;
}

.message {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
}

.message.user {
        justify-content: flex-end;
}

.text {
        background-color: #f2f2f2;
        padding: 15px;
        border-radius: 5px;
        width: 48%;
}
.chat-description{
        margin: 5px;

}
.message.user .text {
        background-color: #dcf8c6;
}

.list-group-item:hover:not(.not-hover) {
        background-color: rgba(142, 218, 252,0.3);
}
.received-at{
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 11px;
        margin-top: 1px;
}
.messages:last-child{
        margin-bottom: 68px;
}